body {
  display: block;
  font-family: var(--default-font-family);
}
:root {
  --branding-color: #83bd75;
  --secondary-color: #e9efc0;
  --text-color: #283a24;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.navbar {
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
}
h3 {
  font-weight: normal;
  font-size: 16px;
}
h1 {
  font-size: 70px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
img {
  margin-top: 17px;
  border: 5px solid var(--secondary-color);
}
.hero {
  text-align: center;
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );

  padding: 160px 20px;
  color: var(--text-color);
}
.featured {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 40px;
  font-style: italic;
  border-style: solid #e9efc0;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  height: 30px;
}
.hero h2 {
  font-weight: normal;
  font-size: 26px;
  line-height: 2;
  font-family: var(--heading-font-family);
  margin-bottom: 20px;
}
.hero h1 {
  margin-bottom: 0px;
  height: 100px;
}
.hero h3 {
  margin-top: 20px;
}
.btn-branding {
  border-radius: 4px;
  background: var(--branding-color);
  color: var(--secondary-color);
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}
.btn-branding:hover {
  color: var(--text-color);
}
.btn-branding-outline {
  border-radius: 4px;
  background: var(--secondary-color);
  color: var(--branding-color);
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}
.btn-branding-outline:hover {
  color: var(--text-color);
}
.p {
  margin-bottom: 90px;
}
.about-page {
  padding: 160px 20px;
  color: var(--text-color);
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
  text-align: center;
}
.about-page h1 {
  font-size: 40px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.about-page h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  margin-bottom: 20px;
}
.about-page p {
  font-size: 20px;
  margin-bottom: 80px;
}
.about-page .img-fluid {
  width: 300px;
  border-radius: 6px;
  opacity: 85%;
}

.about-page-content {
  margin: 30px;
}
@media (max-width: 900px) {
  .project-description {
    padding: none;
    text-align: center;
    margin: auto;
  }
  .project-name {
    font-weight: bold;
    padding: 0;
  }
  h1 {
    font-size: 40px;
    margin: 15px;
  }
  .p {
    padding: 0;
    margin-bottom: 30px;
  }
  .featured {
    margin: 25px 15px 40px 15px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
  }
  .header-h2 {
    font-size: 40px;
  }
  .about-page {
    text-align: center;
    padding: 0px;
  }
  .about-page p {
    font-size: 15px;
    margin: 10px 0px 30px 0px;
  }
  .about-page h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .about-page h2 {
    font-size: 20px;
  }
  .about-page img {
    margin-top: 5px;
  }
}
